@using ShopWatch.WebMvc.ViewModels
@model WatchEditViewModel
@{ ViewBag.Title = "AddWatch";
	Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml"; }
<h2>Add Watch</h2>
<hr />
<form action="/Admin/WatchMangement/AddWatch" method="post" class="row form-horizontal" enctype="multipart/form-data">
	@Html.AntiForgeryToken()
	<div class="col">
		<div class="form-group">
			<label name="Name" class="control-label">Watch Name:</label>
			<div>
				<input type="text" name="WatchName" class="form-control" value="@Model.WatchName" required />
				@Html.ValidationMessageFor(m => m.WatchName, "", new { @class = "text-danger" })
			</div>
		</div>
		<div class="form-group">
			<label class="control-label">Description:</label>
			<div>
				<textarea class="form-control" name="Description" id="ckeditor" required></textarea>
				@Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
			</div>
		</div>
		<div class="form-group">
			<label class="control-label">Evaluate:</label>
			<div>
				<textarea class="form-control" name="Evaluate" id="ckeditor2" required></textarea>
				@Html.ValidationMessageFor(m => m.Evaluate, "", new { @class = "text-danger" })
			</div>
		</div>
		<div class="form-group">
			<label class="control-label">Price:</label>
			<div>
				<input type="number" class="form-control" name="Price" min="1" />
				@Html.ValidationMessageFor(m => m.Price, "", new { @class = "text-danger" })
			</div>
		</div>
		<div class="form-group">
			<label class="control-label">Quantity:</label>
			<div>
				<input type="number" class="form-control" name="Quantity" min="1" />
				@Html.ValidationMessageFor(m => m.Quantity, "", new { @class = "text-danger" })
			</div>
		</div>
	</div>
	<div class="col">
		<div class="form-group">
			<label class="control-label">Category:</label>
			<div class="input-group mb-3">
				@Html.DropDownListFor(m => m.CategoryId, new SelectList(ViewBag.Categories, "Value", "Text"), "Select a category", new { @class = "form-control", @id = "CateList" })
			</div>
		</div>

		<div class="form-group">
			<label class="control-label">Publisher:</label>
			<div class="input-group mb-3">
				@Html.DropDownListFor(m => m.PublisherId, new SelectList(ViewBag.Publishers, "Value", "Text"), "Select an author", new { @class = "form-control", @id = "AutList" })
			</div>
		</div>

		<div class="form-group">
			<label class="control-label" for="ImgUrl">Image:</label>
			<div class="form-row">
				<div class="col-6">
					<input type="file" class="custom-file-input" id="validatedCustomFile" name="Img" onchange="readURL(this)" required>
					<label class="custom-file-label" for="validatedCustomFile">Choose an image</label>
				</div>
				<div class="col-6">
					<img id="FileImage" src="#" name="ImgUrlhi" alt="your image" class="img-thumbnail" width="150" />
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label" for="ImgUrl">Ảnh nhỏ 1:</label>
			<div class="form-row">
				<div class="col-6">
					<input type="file" name="small1" required>
					
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label" for="ImgUrl">Ảnh nhỏ 2:</label>
			<div class="form-row">
				<div class="col-6">
					<input type="file" name="small2" required>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label" for="ImgUrl">Ảnh nhỏ 3:</label>
			<div class="form-row">
				<div class="col-6">
					<input type="file"  name="small3" required>
				</div>
			</div>
		</div>
		<div class="form-group form-check">
			@Html.EditorFor(model => model.IsActive)
			<label class="form-check-label" for="IsActive">Is Active?</label>
			@Html.ValidationMessageFor(m => m.IsActive, "", new { @class = "text-danger" })
		</div>
		<div class="form-group">
			<input type="submit" class="btn btn-primary" value="Add" />
			<a href="/Admin/WatchMangement" class="btn btn-secondary">Cancel</a>
		</div>
	</div>
</form>
@section scripts {
	<script src="~/Assets/js/ckeditor/ckeditor.js"></script>
	<script src="~/Assets/js/ckeditor/ckeditorconfig.js"></script>
	<script src="~/Assets/js/readurl.js"></script>
}
