@model PagedList.IPagedList<ShopWatch.Model.Account>
@using PagedList.Mvc;

@{
	ViewBag.Title = "Account";
	Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>Account</h2>
<hr />
<p>
	@Html.ActionLink("Create Account", "Create")
</p>
@using (Html.BeginForm("Index", "Accounts", FormMethod.Get))
{
<p>
	Account name: @Html.TextBox("SearchString", (string)ViewBag.searchValue) <input type="submit" value="Tìm kiếm" />
	<a href="/Admin/Accounts/Index" class="btn btn-default">Back to Full List</a>
	@Html.Hidden("page", (object)ViewBag.page)
	@Html.Hidden("sortProperty", (object)ViewBag.sortProperty)
	@Html.Hidden("sortOrder", (object)ViewBag.sortOrder)
	@Html.Hidden("size", (object)ViewBag.pageSize)
</p>
}
<table class="table table-condensed table-bordered">
	<tr class="d-flex">
		<th class="col-md-2">
			Role Name
		</th>
		<th class="col-md-2">
			Account Name
		</th>
		<th class="col-md-2">
			Password
		</th>
		<th class="col-md-2">
			Create Date
		</th>
		<th class="col-md-2">
			Modified Date
		</th>
		<th class="col-md-2"> Action </th>
	</tr>

	@foreach (var item in Model)
	{
		<tr class="d-flex">
			<td class="col-md-2">
				@Html.DisplayFor(modelItem => item.AccountRole.RoleName)
			</td>
			<td class="col-md-2">
				@Html.DisplayFor(modelItem => item.AccountName)
			</td>
			<td class="col-md-2">
				@Html.DisplayFor(modelItem => item.Password)
			</td>
			<td class="col-md-2">
				@Html.DisplayFor(modelItem => item.CreateDate)
			</td>
			<td class="col-md-2">
				@Html.DisplayFor(modelItem => item.ModifiedDate)
			</td>

			<td class="col-md-2">
				<form action="/Admin/Accounts/Delete/@item.AccountId" method="post">
					<a href="/Admin/Accounts/Edit/@item.AccountId" class="btn btn-primary">Edit</a>
					<button type="submit" onclick="return confirm('Are you sure to delete this account?');" class="btn btn-danger">Delete</button>
				</form>
			</td>

		</tr>
	}
</table>

<!-- Thêm mã phân trang -->
<br />
<div class="row">
	<div class="col-md-6 col-lg-6 col-xs-6 col-sm-6">
		@using (Html.BeginForm("Index", "Accounts", FormMethod.Get))
		{
			<p>
				Kích thước trang: @Html.DropDownList("size", (List<SelectListItem>)ViewBag.size, new { @onchange = "this.form.submit();" })
			</p>
		}
	</div>
	<div class="col-md-6 col-lg-6 col-xs-6 col-sm-6 text-right">
		Trang: @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
	</div>
</div>

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, size = ViewBag.currentSize }))
<!-- Kết thúc -->
